.dateForm{
	width:32%;
	color:black;
}

.error {
	color:#b94a48;
}

#headerParag {
	font-size: 13px;
}

.hero-unit {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  color: white;
  background-color: #002fa7;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#spanParag {
	font-size: 16px;
}

img {
	width:250px;
	height:300px;
	
}

#title {
	width:250px;
}

#description {
	width:600px;
}