<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servlets.ChatListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>servlets.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatNotificationServlet</servlet-name>
    <servlet-class>servlets.ChatNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatNotificationServlet</servlet-name>
    <url-pattern>/ChatNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnlineUserNotificationServlet</servlet-name>
    <servlet-class>servlets.OnlineUserNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineUserNotificationServlet</servlet-name>
    <url-pattern>/OnlineUserNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRegistration</servlet-name>
    <servlet-class>servlets.ServletRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistration</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletEventCreation</servlet-name>
    <servlet-class>servlets.ServletEventCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEventCreation</servlet-name>
    <url-pattern>/creerEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCreatedEvent</servlet-name>
    <servlet-class>servlets.ServletCreatedEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreatedEvent</servlet-name>
    <url-pattern>/evenementCree</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value> /home/mina/ProjectDomo/PolyLife/WebContent/img/</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletAnnoncementCreation</servlet-name>
    <servlet-class>servlets.ServletAnnoncementCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAnnoncementCreation</servlet-name>
    <url-pattern>/creerAnnonce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeAnnonces</servlet-name>
    <servlet-class>servlets.ListeAnnonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeAnnonces</servlet-name>
    <url-pattern>/ListeAnnonces</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayMail</servlet-name>
    <servlet-class>servlets.email.DisplayMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMail</servlet-name>
    <url-pattern>/email/displayMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletListeEvenements</servlet-name>
    <servlet-class>servlets.ListeEvenements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListeEvenements</servlet-name>
    <url-pattern>/ListeEvenements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletJobOfferCreation</servlet-name>
    <servlet-class>servlets.ServletJobOfferCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJobOfferCreation</servlet-name>
    <url-pattern>/creerOffreEmploi</url-pattern>
  </servlet-mapping>
</web-app>