<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DisplayMail</servlet-name>
    <servlet-class>servlets.email.DisplayMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMail</servlet-name>
    <url-pattern>/email/displayMail</url-pattern>
  </servlet-mapping>
  
</web-app>