<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>ServletRegistration</servlet-name>
		<servlet-class>servlets.ServletRegistration</servlet-class>
	</servlet>

	<servlet-mapping>
        <servlet-name>ServletRegistration</servlet-name>
        <url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
</web-app>